body {
  background-image: url("./assets/library.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
